.filesWrapper {
  width: 90%;
  margin: 10px auto;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  min-height: 95vh;
}
.leftBox {
  flex-basis: 20%;
  border: 1px solid black;
  border-radius: 30px;
  padding: 20px;
  background-color: #f1f0e8;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .LtopLevel {
    text-align: center;
    img {
      width: 90%;
    }
    h3 {
      font-size: 20px;
    }
  }
  .LbottomLevel {
    width: 100%;
    .btnPro {
      cursor: pointer;
      color: #fff;
      background-color: #102c57;
      width: 100%;
      padding: 15px;
      text-align: center;
      font-size: 18px;
      font-weight: 700;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      .iconBtn {
        margin-left: 15px;
        margin-top: 4px;
        font-size: 24px;
      }
    }
  }
}
.rightBox {
  flex-basis: 75%;
  border: 1px solid black;
  border-radius: 30px;
  padding: 20px;
  background-color: #d4e2d4;
  .RtopLevel {
    display: flex;
    flex-direction: column;
    .inputWrapper {
      background-color: #fff;
      padding: 20px;
      border-radius: 20px;
      width: fit-content;
      border: 1px solid black;
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      label {
        font-weight: 700;
      }
      .inputF {
        width: 300px;
        border-radius: 10px;
        padding: 10px 5px;
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid black;
        input {
          border: none;
          outline: none;
          width: 100%;
          font-size: 16px;
        }
        .iconF {
          font-size: 18px;
        }
      }
    }
    .btnWrapper {
      display: flex;
      .btnUpload,
      .btnConfirm {
        cursor: pointer;
        color: #fff;
        background-color: #102c57;
        padding: 10px 15px;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        border-radius: 10px;
        margin-left: 20px;
      }
    }
  }
}
.uploadWrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
}
.parent {
  width: 450px;
  margin: auto;
  padding: 2rem;
  background: #ffffff;
  border-radius: 25px;
}
.parents {
  background-color: #fff;
  margin: auto;
  border-radius: 10px;
  padding: 2rem;
  min-width: 650px;
  max-height: 390px;
  overflow-y: scroll;
  table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #b5b5b5;
    position: relative;
    .iconCs {
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: 20px;
      font-weight: 700;
      z-index: 100000;
      cursor: pointer;
    }
  }
  th:nth-child(1),
  td:nth-child(1) {
    width: 25%;
    padding: 10px;
    border-right: 1px solid #fefefe;
    text-align: left;
  }

  th:nth-child(2),
  td:nth-child(2) {
    width: 75%;
    padding: 10px;
    text-align: left;
  }

  /* CSS for table headers */
  th {
    background-color: #fff;
    color: black;
    padding: 10px;
    text-align: center;
  }

  /* CSS for table cells */
  td {
    padding: 8px;
  }

  /* CSS for even rows */
  tr:nth-child(even) {
    background-color: #f5f5f5;
  }
  tr:nth-child(odd) {
    background-color: #fff;
  }
}
.parents::-webkit-scrollbar-button {
  display: none;
}

/* Target the scrollbar for the .parents */
.parents::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
}

/* Track (the background of the scrollbar) for the .parents */
.parents::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background color of the track */
}

/* Handle (the draggable part of the scrollbar) for the .parents */
.parents::-webkit-scrollbar-thumb {
  background: #888; /* Background color of the handle */
  border-radius: 6px; /* Rounded corners for the handle */
}

/* When you hover over the scrollbar for the .parents */
.parents::-webkit-scrollbar-thumb:hover {
  background: #555; /* Background color on hover */
}
.file-upload {
  text-align: center;
  border: 3px dashed rgb(181, 181, 181);
  padding: 1.5rem;
  position: relative;
  cursor: pointer;
  img {
    width: 100%;
  }
  .iconC {
    position: absolute;
    right: -20px;
    top: -20px;
    font-size: 20px;
    font-weight: 700;
    z-index: 100000;
  }
}
.file-upload p {
  font-size: 0.87rem;
  margin-top: 10px;
  color: #bbcada;
}
.file-upload input {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  cursor: pointer;
}
.RbottomLevel {
  max-height: 550px;
  overflow-y: scroll;
  width: 1000px;
  overflow-x: scroll;
  /* CSS for the table */
  table {
    width: 100%;

    border-collapse: collapse;
    border-radius: 5px;
  }
  th:nth-child(1),
  td:nth-child(1) {
    // width: 25%;
    padding: 10px;
    border-right: 1px solid #697785;
    text-align: center;
  }

  th:nth-child(2),
  td:nth-child(2) {
    // width: 75%;
    padding: 10px;
    text-align: center;
  }
  th:nth-child(3),
  td:nth-child(3) {
    // width: 75%;
    padding: 10px;
    text-align: center;
  }
  th:nth-child(4),
  td:nth-child(4) {
    // width: 75%;
    padding: 10px;
    text-align: center;
  }

  /* CSS for table headers */
  th {
    background-color: #fff;
    color: black;
    padding: 10px;
    text-align: center;
    font-size: 12px;
  }

  /* CSS for table cells */
  td {
    padding: 8px;
    text-align: center;
  }

  /* CSS for even rows */
  tr:nth-child(even) {
    background-color: #f5f5f5;
  }
  tr:nth-child(odd) {
    background-color: #fff;
  }
}
.RbottomLevel::-webkit-scrollbar-button {
  display: none;
}

/* Target the scrollbar for the .RbottomLevel */
.RbottomLevel::-webkit-scrollbar {
  width: 1px; /* Set the width of the scrollbar */
  height: 2px;
}

/* Track (the background of the scrollbar) for the .RbottomLevel */
.RbottomLevel::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background color of the track */
}

/* Handle (the draggable part of the scrollbar) for the .RbottomLevel */
.RbottomLevel::-webkit-scrollbar-thumb {
  background: #888; /* Background color of the handle */
  border-radius: 6px; /* Rounded corners for the handle */
}

/* When you hover over the scrollbar for the .RbottomLevel */
.RbottomLevel::-webkit-scrollbar-thumb:hover {
  background: #555; /* Background color on hover */
}
